*{
    margin: 0;
    padding: 0;
}

body{
    background-color: brown;
}
header{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: blanchedalmond;
    background-color: rgb(104, 35, 35);
    padding: 50px 0;
    margin: 20px 0;
    margin-top: -10px;
}

.Form{
    display: flex;
    justify-content: center;
}


.class{
    font-family: Arial, Helvetica, sans-serif;
    color: blanchedalmond;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding: 10px;
    box-shadow: 0 4px 25px 0 black;
    border-radius: 20px;
    width: 600px;
    margin-left: 350px;
    margin-top: 100px;
    background-color: rgb(182, 74, 74);
}

footer{
    font-family: Arial, Helvetica, sans-serif;
    color: blanchedalmond;
    text-align: center;
    margin-top: 150px;
}